@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ninguna xD</p>

<div class="col-md-6 col-md-offset-2">
    <section>
        <div>
            <p>
                <div class="signin-image">
                    <figure><img src="~/images/XD1.jpg" alt="XD"></figure>
                </div>
                <div class="signin-image">
                    <figure><img src="~/images/XD2.jpg" alt="XD"></figure>
                </div>
            </p>
        </div>
    </section>
</div>
